.banner{
    background-image: url("../../assets/ServiceImage1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    background-position:bottom;

}