.divOne{
    background-image: url("../../assets/LandingImage1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    background-size:cover;
    height: 650px;
}
.divTwo{
    background-image: url("../../assets/LandingImage4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll; 
    background-size:cover;
    height: 500px;
}

.divThree{
    background-image: url("../../assets/LandingImage2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll; 
    background-size:cover;
    height: 500px;
}

.compDivOne{
    background-color: rgba(25, 25, 25, 0.769);
}

.img{
    max-height: 40px;

}

.Sonax{
    max-height: 55px;

}

.compDivTwo{
    background-color: rgba(25, 25, 25, 0.748);
    backdrop-filter: blur(7px);

    
}