.divOne{
    background-image: url("../../assets/resized/bannerServices.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local; 
    background-size:cover;
}