.divOne{
    background-image: url("../../assets/bannerServices.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    background-size:cover;
}